<h1>Posts</h1>
 <div class="index-container">
  
 
 <% @posts.each do |post| %>
  
   <div class="panel panel-primary">
     <div class="panel-heading">
      <h2><%= post.title %>, by <%= link_to post.user.username, user_posts_path(name: post.user.username) %> <% image_tag post.user.avatar.url %></h2>
     </div>
    <div class="panel-body">
       <p><%= post.blog_entry.html_safe %></p>
     </div>
      <div class="panel-footer" >
      <p>Created on <%= post.created_at.strftime("%B %e, %Y at %l:%M %p") %></p>
      <p><%= link_to 'Show', post, class: 'btn btn-primary' %>  
         <% if current_user.id == post.user_id %>
        <%= link_to 'Edit', edit_post_path(post), class: 'btn btn-warning' %> <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></p>
        <% end %>
    </div> 
  </div>

<% end %>
</div>
<br>

<%= link_to 'New Post', new_post_path %>

<%= paginate @posts %>