<!DOCTYPE html>
<html>
  <head>
    <title>TechTalentBlog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
    <%= yield %>
    <div class="pull-right">
    <% if user_signed_in? %>
      <li>Welcome <%= current_user.email %></li>
      <%= link_to "Edit Profile", edit_user_registration_path, class: "btn btn-primary" %>
      <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "btn btn-danger" %></li>

    <% end %>
  </div>
  </body>
</html>
